<head>
    <%- include("includes/head")%>
</head>
<body>
    <header>
        <%- include("includes/header")%>
    </header>
    <main>
        <h1 style="text-align: center;">Check your email</h1>
        <p style="margin: 8px">
            Check your inbox for a verification email.
        </p>
    </main>
    <footer>
        <%- include("includes/footer")%>
    </footer>
</body>