<head>
    <%- include("includes/head")%>
</head>
<body>
    <header>
        <%- include("includes/header", {pagename: "Journey"})%>
    </header>
    <main>
        <div class="card">
            <h2>Start A New Journey</h2>
            <p>Go on a guided set of goals to overcome addiction, learn self-improvement skills, and renew yourself.</p>
        </div>
    </main>
    <footer>
        <%- include("includes/footer", {page:3})%>
    </footer>
</body>