<head>
    <%- include("includes/head")%>
</head>
<body>
    <header>
        <%- include("includes/header")%>
    </header>
    <main>
        <h1 style="text-align: center;">You're Verified!</h1>
        <br>
        <div style="text-align: center;">
            <a href="/"><button>Let's Get Started</button></a>
        </div>
    </main>
    <footer>
        <%- include("includes/footer")%>
    </footer>
</body>