html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
}

:root{
    --border-radius: 8px;
    --border-color: #637c83;
    --color-highlight: #A3D9A5;
    --color-header: #2D2F36;
    --color-accent: #c0e6ec;
    --color-sky: #e2ebf3;
    --color-cloud: #F9FAFB;
    --color-stone: #B0B8C1;
    --color-background: #f6fbff;
}


h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

body{
    background-color: var(--color-background);
}


.login-form{
    margin: 8px;
    border: solid 2px var(--border-color);
    border-radius: var(--border-radius);
    padding: 16px;
    background-color: var(--color-cloud);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"], .login-form input[type="phone"], .login-form input[type="date"], .login-form input[type="datetime"], .login-form input[type="number"], .login-form select, .login-form input[type="datetime-local"]{
    width: 100%;
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 6px;
    border: solid 2px var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.3);;
    background-color: transparent;
}

.login-form input[type="color"] {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 2px;
    border: solid 2px var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.3);
    background-color: transparent;
}

.login-form textarea{
    width: 100%;
    margin-top: 4px;
    margin-bottom: 12px;
    height: 6rem;
    padding: 6px;
    border: solid 2px var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.3);
    background-color: transparent;
    font-family: "Inter", sans-serif;
}

button{
    padding: 12px 16px;
    border: solid 3px var(--border-color);
    border-radius: 24px;
    background: linear-gradient(0.125turn, #a1e2a5, #9be0cb);
    font-weight: 600;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.6), inset 0px 1px 2px rgba(255,255,255,0.3);

}

.progress-container {
    width: 100%;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
    height: 24px;
    border: solid 2px var(--border-color);
    border-radius: var(--border-radius);
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50; /* You can change this */
    transition: width 0.4s ease;
}

.error {
    padding: 6px;
    margin-top: 4px;
    border: solid 2px var(--color-accent);
    border-radius: var(--border-radius);
}


header{
    background: linear-gradient(0.725turn, #a1e2a5, #9be0cb);
    border-bottom: solid 0.5px var(--color-header);
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    padding: 12px;
}

footer{
    background: linear-gradient(0.125turn, #a1e2a5, #9be0cb);
    border-top: solid 0.5px var(--color-header);
    position: fixed; bottom: 0; left: 0; width: 100%;
}

.slide-menu {
    position: fixed;
    left: -294px;
    width: 250px;
    height: 100%;
    top: 68px;
    background: linear-gradient(#9be0cb, #a1e2a5);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
    border: solid 2px var(--border-color);
}

.slide-menu.open {
    left: 0;
}

.slide-menu a {
    display: block;
    margin: 0.8rem 0;
    color: #000;
    text-decoration: none;
    font-weight: medium;
}

.card{
    border: solid 2px var(--border-color);
    border-radius: var(--border-radius);
    padding: 12px;
    margin: 8px;
    background-color: var(--color-accent);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

main{
    padding-bottom: 80px;
}